html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.triangle {
    display: block;
    position: relative;
    left: 42%;
    top: 35%;
    z-index: 1001;
    width: 150px;
    height: 150px;
}

.triangle1 {
    clip-path: polygon(50% 0%, 50% 33.33%, 25% 83.33%, 0% 100%);
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0%;
    left: 0%;

    background: linear-gradient(219deg, #81e40d, #0a9dc7);
    background-size: 100% 100%;

    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 92% 0%;
        }

        50% {
            background-position: 9% 100%;
        }

        100% {
            background-position: 92% 0%;
        }
    }

    @-moz-keyframes AnimationName {
        0% {
            background-position: 92% 0%;
        }

        50% {
            background-position: 9% 100%;
        }

        100% {
            background-position: 92% 0%;
        }
    }

    @keyframes AnimationName {
        0% {
            background-position: 92% 0%;
        }

        50% {
            background-position: 9% 100%;
        }

        100% {
            background-position: 92% 0%;
        }
    }
}

.triangle2 {
    clip-path: polygon(50% 0%, 50% 33.33%, 75% 83.33%, 100% 100%);
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0%;
    left: 0%;

    background: linear-gradient(321deg, #ead216, #29e814);
    background-size: 100% 100%;

    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 7% 0%;
        }

        50% {
            background-position: 94% 100%;
        }

        100% {
            background-position: 7% 0%;
        }
    }

    @-moz-keyframes AnimationName {
        0% {
            background-position: 7% 0%;
        }

        50% {
            background-position: 94% 100%;
        }

        100% {
            background-position: 7% 0%;
        }
    }

    @keyframes AnimationName {
        0% {
            background-position: 7% 0%;
        }

        50% {
            background-position: 94% 100%;
        }

        100% {
            background-position: 7% 0%;
        }
    }
}

.triangle3 {
    clip-path: polygon(0% 100%, 25% 83.33%, 75% 83.33%, 100% 100%);
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0%;
    left: 0%;

    background: linear-gradient(272deg, #ead216, #149ee8);
    background-size: 100% 100%;

    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 51%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 51%;
        }
    }

    @-moz-keyframes AnimationName {
        0% {
            background-position: 0% 51%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 51%;
        }
    }

    @keyframes AnimationName {
        0% {
            background-position: 0% 51%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 51%;
        }
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #f1f1f1;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .triangle {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.main-top {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
}

.option {
    height: 100px;
}

.position {
    height: calc(100% - 102px);
    border-radius: 0 0 0 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.flex-container>div {
    font-size: 13px;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20% 20% 20% 20%;
    margin: 10px;
    text-align: center;
    line-height: 45px;
    background-color: #ffffff;
}

.flex-container>div:hover {
    border: 3px dashed blue !important;
    background-color: aquamarine !important;
    opacity: 0.5;
    font-weight: bolder;
}

.other {
    font-size: 13px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.square {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20% 20% 20% 20%;
    margin: 10px;
    text-align: center;
    line-height: 45px;
    background-color: #ffffff;
}

.not-choice {
    background-color: rgb(227, 227, 227);
}

.square:not(.not-choice):hover {
    border: 3px dashed blue !important;
    background-color: aquamarine !important;
    opacity: 0.5;
    font-weight: bolder;
}

.choice {
    box-sizing: border-box;
    border: 3px dashed blue !important;
    background-color: aquamarine !important;
    opacity: 0.5;
    font-weight: bolder;
}

#setting {
    width: 200px;
}

#setting>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#setting>div>input {
    border: 1px solid black;
}

#setting>div>label {
    display: inline-block;
    width: 50px;
}

.search {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search>input {
    border: 1px solid black;
}

.search>label {
    display: inline-block;
    width: 50px;
}

#download {
    display: block;
    margin-top: 10px;
    width: 23px;
    color: #000000;
}

#download:hover {
    font-size: 20px;
}

.slidecontainer>input {
    width: 145px;
}

.appear {
    z-index: 1000;
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    padding-left: 0px;
    margin-top: 0px;
}

.appear>li {
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    width: 170px;
    padding-left: 10px;
}

.hide {
    z-index: -1000 !important;
}

.search-choice {
    background-color: aquamarine !important;
}

#list>li:hover {
    border: 3px dashed blue !important;
    background-color: aquamarine !important;
    opacity: 0.5;
    font-weight: bolder;
}